# Dependencies
node_modules/

# Nuxt build / output
.nuxt/
.output/
.data/
.nitro/
.cache/
dist/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
